<div class="container_a">
	<div class="d-flex justify-content-center h-100">
		<div class="card_b">
			<div class="card-header_a">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
        <%= render 'form' %>
			</div>
		</div>
	</div>
</div>